<form action="/bookmarks" method="post">
  <input type="text" name="url" placeholders="URL" />
  <input type="text" name="title" placeholders="Title" />
  <input type="submit" value="add bookmark" />
</form>
